body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  margin-top: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}



nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f1f1f1;
}

nav img {
  height: 40px;
}
nav a {
  color: #000;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  display: flex;
  align-items: center;
  
}

.center-row{
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}


a:hover {
  color: rgb(136, 136, 136);
}

main h1{
  text-align: center;
  margin: 0;
  font-size: xx-large;
  padding-bottom: 20px;
}

.dark > h1{
color: white;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 2rem;
}

footer > img {
  width: 200px;
  margin: 0;
}
footer > p {
  margin: 0;
  padding-top: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 0.5px solid rgb(136, 136, 136);
  border-radius: 15px;
  position: relative;
  white-space: normal;
}

.card p {
  background: #1291c4;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #fff;
  font-size: 1rem;
  left: 0;
  padding: 9px;
  position: absolute;
  top: 0;
  margin: 0;
}

.card h1 {
  margin-top: 8px;
  font-size: 15px;
  top: 0px;
  padding-right: 20px;
  align-self: end;
  font-style:italic;
}
.card h4 {
  margin: 0;
  margin-top: 10px;
  align-self: center;
}
.card a {
  margin:0;
  margin-top: 5px;
  text-decoration: none;
  color: #1291c4;

}

.card:hover {
  border: 0.5px solid #54b3c9;
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark {
  background-color: #343541;
}
.dark  a {
  color: white;
}


.dark  #detail-link {
  color: blue;
}

.dark #h1 {
  color: white;
}

.dark .card{
  background-color: white;
}

/* IOS BUTTON */

.toggle {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

.toggle input[type="checkbox"] {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.icon {
  position: absolute;
  top: 4px;
  transition: .4s;
}

.sun {
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: yellow;
  border-radius: 50%;
}

.moon {
  right: 4px;
  width: 22px;
  height: 22px;
  background-color: #888;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider .sun {
  opacity: 0;
}

input:checked + .slider .moon {
  opacity: 1;
}

